*.swp
class_files.txt
seeds.txt
unused.txt
/build
/bin
/out
/gen
/obj
/buck-out
/.idea
/.settings
/.buckd
/.directory
/lint.xml
/libs/*/*.so
/libs/*/bin
/libs/*/gen
/libs/*/obj
/libs/*/build
/libs/*/.settings
/libs/*/.directory
/libs/*/libs/*/bin
/libs/*/libs/*/gen
/libs/*/libs/*/obj
/libs/*/libs/*/.settings
/keystore/publish.keystore
/keystore/publish.keystore.properties
*.iml
