*.swp
/bin
/gen
/obj
/buck-out
/.settings
/.buckd
/.directory
/lint.xml
/libs/*/*.so
/libs/*/bin
/libs/*/gen
/libs/*/obj
/libs/*/.settings
/libs/*/libs/*/bin
/libs/*/libs/*/gen
/libs/*/libs/*/obj
/libs/*/libs/*/.settings
