*.swp
*.iml
local.properties
class_files.txt
seeds.txt
unused.txt
build
bin
out
gen
obj
.idea
.settings
.directory
lint.xml
*.so
keystore
/chrome/vendor
build.xml
ant.properties
.gradle
build-tools_*.zip
gradle-*
.DS_Store
signing.properties
